<!DOCTYPE html>
<html>
  <head>
    <title>Notes20</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>

  <body>
  <div>
    <% if logged_in?%>
        <%= link_to "Add a Notebook", new_notebook_path %> | 
        <%= link_to "All Notebooks", notebooks_path %> | 
        <%= link_to "Add a comment", new_comment_path %> | 
        <%= link_to "Logout", logout_path, method:"delete"%>
      <% else %> 
        <%= link_to "Sign In", signup_path %> |
        <%= link_to "Login", login_path %> |
      <% end %>

  </div>
    <%= yield %>
  </body>
</html>
